<div class="container">
    <div class="banner">
     <div class="heading" > <h2>LOREM</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem asperiores quo est quam ad corrupti ab ducimus voluptas! 
        Quam blanditiis consectetur officia totam quasi ut inventore quas odit, unde aliquam!</p>
    </div>
    </div>
  <br>
    <div><h2 class="text-center">JOBS WE OFFER</h2></div>
   <div class="row">
    <div class="col-sm-4"> <!-- Each column takes up 4 out of 12 columns on small screens -->
        <div class="card">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/02/02/11/09/office-620822_1280.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="text-center">Lorem</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4"> <!-- Each column takes up 4 out of 12 columns on small screens -->
        <div class="card">
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/02/02/11/09/office-620822_1280.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="text-center">Lorem</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4"> <!-- Each column takes up 4 out of 12 columns on small screens -->
        <div class="card" >
            <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/02/02/11/09/office-620822_1280.jpg" alt="Card image cap">
            <div class="card-body">
                <h3 class="text-center">Lorem</h3>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>
 <app-jobs></app-jobs>
<!-- 
 https://web3.career/     -->
    </div>


